.pie3{
    position: relative;
    z-index: 1;
    display: grid;
    width: 100%;
    height: 150px;
    grid-template-columns: repeat(7,1fr);
    grid-template-rows: repeat(2,50%) ;
    grid-template-areas: 
    "footer";
    position: absolute;
    bottom: 1;
    background-color: map-get($colores, color1 );


    div{
        @include a;
        text-decoration: none
    }
    
    a{
        text-decoration: none
    }
        .perfil{
        width: 70%;
        height: 125px;
        position: relative;
        justify-self: center;
        align-items: center;
        @include grid(1,7,none,none)
    }
    .fo-tx1{
        justify-self: center;
        align-items: center;
        font-weight:bolder ;
        @include grid(2,7,1,1)
    }
    .mail{
        @include grid(2,3,2,2)
    }

    .fo-tx2{
        position: relative;
        left: 80px;
        bottom: 10px;
        justify-content: center;
        align-items: center;
        @include grid(2,3,2,2)
    }

    .Web{
        justify-self: center;
        position: relative;
        align-self: center;
        left: 45px ;
        bottom: 10px;
        @include grid(3,4,2,2)
    }

    .fo-tx3{
        position: relative;
        left: 100px;
        @include grid(2,6,2,2)
    }

    .fo-tx4{
        display: grid;
        position: relative;
        white-space: nowrap;
        @include grid(5,7,2,2)
    }
    .UBI{
        height: 50px;
        display: grid;
        position: relative;
        @include grid(5,6,2,2)
    }

}