header{
    height: 1000px;
}
.Nav{
    position: relative;
    z-index: 1;
    display: grid;
    width: 100%;
    height: 100px;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
    "header";
    .navi{
        position: relative;
        z-index: 1;
        display: flex;
        gap: 250px;
        list-style: none;
        background-color: map-get($colores, color1 );
        white-space: pre-line;
        text-align: center;
        justify-content:center;

        .nav-a{
            bottom: 10px;
        }

        .nav--a{
            position: relative;
            top: 23px;
            }
        
        a{
        position: relative;
        text-decoration: none;
        color: white;
        font-family: 'Inter', Times, serif;
        font-size: 25px;
        font-weight: 250;
        margin: auto;
        line-height: 35px;
        
        &:active:not(.desarollo1):not(.t4):not(.con2):not(.links){
        box-shadow: 0 0 10px 3px map-get($colores, color1 ); /* Sombra para el efecto de brillo */
        padding: 20px;
        .nav-a{
        font-size: 25px;
        line-height:35px;
        padding: 5px;
        }

        }
        }
    }
    }

