.main5{

    
    article{
        width: 100%;
        height: 250px;
        #stock{
        position: absolute;
        width: 45%;
        height: 920px;
        object-fit: cover;
    }
    }
    .catal{
        @include main(relative, pre-line, center, none);
        bottom: 300px;
        padding: 20px;
        width: 100%;
        height: 250px;
        color: map-get($colores, color4 );
        @include font(31.25rem);
        right: 550px;
        font-size: 25px;
    }
    
    .logo{
        @include main(relative, pre-line, center, none);
        bottom: 175px;
        padding: 20px;
        width: 100%;
    
        color: map-get($colores, color4 );
        @include font(bolder);
        right: 550px;
        font-size: 25px;
    }
    
    .contacton{
        position: relative;
        bottom: 380px;
        padding: 15px;
        width: 25%;
    
        left: 329px;
        color: map-get($colores, color3 );
        @include font(bolder);
        text-decoration: none;
        background-color: map-get($colores, color4 );
    
    }
    
    .restock{
        position: relative;
        bottom: 1000px;
        left: 1100px;
        object-fit: cover;
        width:30%;
        height: 700px;
        padding: 5px;
    }
    .div-1{
        @include main(relative, pre-line, center, none);
        bottom: 350px;
        padding: 20px;
        width: 100%;
        height: 250px;
        color: map-get($colores, color4 );
        @include font(31.25rem);
        right: 550px;
        font-size: 25px;
    }
    form{
        position: relative;
        bottom: 500px;
        left: 290px;
        padding: 20px;
        border: none;
    }
    input::placeholder{
        color: map-get($colores, color3 );    
    }
}