.main{
        width: 100%;
        height: 100px;
        .section5{
            position: relative;
            height: 200px;
            .negro4{
                z-index: 0;
                display: flex;
                background-color: map-get($colores, color3 );
                width: 100%;
                padding: 150px;
                padding-top: px;
                padding-bottom: 315px;
                position: relative;
                bottom: 25px; 
                height: 100px;
            }
            .tete{
                z-index: 5;
                color: map-get($colores, color2 );
                @include main(relative, none, center, none);
                top: 70px;
                left: 520px;
                padding-right: 0px;
                font-size: 48px;
                @include font(bolder);
                text-align: center;
                display: flex;
                width: 50%;
            }
            .fondito5{
                z-index: 4;
                width: 45%;
                @include main(relative, none, none, center);
                display: flex;
                bottom: 420px;
                left: 507px;
            }
            

        }
        .franja{
            z-index: 7;
            width: 28%;
            padding-top: 15px;
            padding-bottom: 1px;
            display: flex;
            position:  relative;
            background-color: map-get($colores, color1 );
            top: 259px;
            height: 25px;
            left: 680px;
            }
            
        .bloque{
            z-index: 4;
            padding: 50px;
            padding-bottom: 250px;
            position: relative;
            display: flex;
            background-color: map-get($colores, color3 );
            width: 33.5%;
            height: 50px;
            top: 250px;
            left: 625px;
            }
        .etiqueta{
            z-index: 4;
            position: relative;
            left: 635px;
            width: 32%;
            height: 200px;
            }
            height: 800px;
}