@media (max-width:1024px){

    .Navegador {
        z-index: 8;
        display: flex;
        font-family: 'Inter', Times, serif;
        font-weight: 250;
        background-color: #020262;
        position: fixed;
        width: 1024px;
        height: 100px;
        flex-direction: row;
        gap: 100px;
        justify-content: center;
    }

    .navi{
        z-index: 2;
        display: flex;
        gap: 50px;
        list-style: none;
        background-color: #020262;
        white-space: pre-line;
        text-align: center;
        justify-content:center;
    }


    .navi a{
        z-index: 2;
        display: flex;
        text-decoration: none;
        color: white;
        font-family: 'Inter', Times, serif;
        font-size: 20px;
        font-weight: 250;
        margin: auto;
        line-height: 30px;
    }

    .Navegador a{
        color: #ffffff;
        padding-top: 25px;
    }
    
    .tx5{
        position: relative;
        font-size: 80px;
        right: 250px;
        text-align: center;
    }

    .insano{
        position: relative;
        top: 100px;
        left: 525px;

}

    .Navegador .links{
        position: relative;
        top: 10px;
        font-size: 25.5px
    }

    .Navegador .linked{
        position: relative;
        top: 15px;
        font-size: 25.5px
    }
    
    .Navegador .tres-lineas{
        white-space: pre-line;
        text-align: center;
        position: relative;
        bottom: 20px;
    }
    
    .Navegador .link{
        font-size: 23.5px
    }
    
    .pie{
        width: 1024px;
    }

    .principal .titulo{
        z-index: 0;
        position: relative;
        left: 100PX;
        bottom: 50px;
        font-size: 80px;
        line-height: 100px;
    }

    .principal .desarollo1{
        z-index: 0;
        position: relative;
        left: 100PX;
        top: 1px;
    }

    .principal .desarollo2{
        z-index: 0;
        position: relative;
        left: 100PX;
    }
    
    .Navegador .tres-lineass{
        white-space: pre-line;
        text-align: center;
        position: relative;
        bottom: 10px;
        font-size: 25.5px
    }
    .fondo{
        width: 100vh;
        height: 100vh;
    }
    
    .fondo{
        background-image: url(../assets/photo-1519326931307-6003daea39f0.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position-x: -225px;
    }
    .Nav{
        position: relative;
        z-index: 1;
        display: grid;
        width: 100%;
        height: 100px;
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr auto;
        grid-template-areas: 
        "header";
        .navi{
            height: 110px;
            width: 1024px;
            position: relative;
            z-index: 1;
            display: flex;
            gap: 100px;
            list-style: none;
            background-color: map-get($colores, color1 );
            white-space: pre-line;
            text-align: center;
            justify-content:center;
            a{
                position: relative;
                text-decoration: none;
                color: white;
                font-family: 'Inter', Times, serif;
                font-size: 20px;
                font-weight: 250;
                margin: auto;
                line-height: 29px;
                gap: 50px;
            }
        }

    }

    .pie5{
        .perfil{
            width: 190px;
            @include grid(1,7,none,none)
        }
        .fo-tx1{
            @include grid(2,7,1,1)
        }
        .mail{
            height: 45px;
            @include grid(2,3,2,2)
        }
    
        .fo-tx2{
            left: 59px;
            font-size: 20px;
            @include grid(2,3,2,2)
        }
    
        .Web{
            bottom: 10px;
            height: 45px;
            @include grid(3,4,2,2)
        }
    
        .fo-tx3{
            font-size: 20px;
            bottom: 10px;
            left: 85px;
            @include grid(3,5,2,2)
        }
    
        .fo-tx4 div{
            white-space: pre-line;
            font-size: 20px;
            bottom: 20px;
            left: 70px;
            @include grid(5,7,2,2)
        }
        .UBI{
            left: 70px;
            bottom: 10px;
            @include grid(5,6,2,2)}
    }
    .pie{
        .perfil{
            width: 190px;
            @include grid(1,7,none,none)
        }
        .fo-tx1{
            @include grid(2,7,1,1)
        }
        .mail{
            height: 45px;
            @include grid(2,3,2,2)
        }
    
        .fo-tx2{
            left: 59px;
            font-size: 20px;
            @include grid(2,3,2,2)
        }
    
        .Web{
            bottom: 10px;
            height: 45px;
            @include grid(3,4,2,2)
        }
    
        .fo-tx3{
            font-size: 20px;
            bottom: 10px;
            left: 85px;
            @include grid(3,5,2,2)
        }
    
        .fo-tx4 div{
            white-space: pre-line;
            font-size: 20px;
            bottom: 20px;
            left: 70px;
            @include grid(5,7,2,2)
        }
        .UBI{
            left: 70px;
            bottom: 10px;
            @include grid(5,6,2,2)}
    }
    div.dropdown{
        display: none;
    }
    section{
        .titulo3{
        display: flex;
        z-index: 1;
        @include font(bold);
        color: map-get($colores, color4 );
        @include main(relative, pre-line, center, none);
        font-size: 39px;
        left: 550px;
        top: 150px;
        width: 100%;
        font-size: 80px;
    }
    .apple2{
        display: flex ;
        position: relative;
        left: 685px;
        bottom: 225px;
        
    }
    .TK{
        position: relative;
        left: 25px;
        bottom: 150px;
    }    
    .WH{
        position: relative;
        left: -115px;
        bottom: 320px;
    }    
    .IG{
        position: relative;
        bottom: 439px;
        left: -45px;
    }
}
.pie3{
    .perfil{
        width: 190px;
        @include grid(1,7,none,none)
    }
    .fo-tx1{
        @include grid(2,7,1,1)
    }
    .mail{
        height: 45px;
        @include grid(2,3,2,2)
    }

    .fo-tx2{
        left: 59px;
        font-size: 20px;
        @include grid(2,3,2,2)
    }

    .Web{
        bottom: 10px;
        height: 45px;
        @include grid(3,4,2,2)
    }

    .fo-tx3{
        font-size: 20px;
        bottom: 10px;
        left: 85px;
        @include grid(3,5,2,2)
    }

    .fo-tx4 div{
        white-space: pre-line;
        font-size: 20px;
        bottom: 20px;
        left: 70px;
        @include grid(5,7,2,2)
    }
    .UBI{
        left: 70px;
        bottom: 10px;
        @include grid(5,6,2,2)}
}
.pie4{
    .perfil{
        width: 190px;
        @include grid(1,7,none,none)
    }
    .fo-tx1{
        @include grid(2,7,1,1)
    }
    .mail{
        height: 45px;
        @include grid(2,3,2,2)
    }

    .fo-tx2{
        left: 59px;
        font-size: 20px;
        @include grid(2,3,2,2)
    }

    .Web{
        bottom: 10px;
        height: 45px;
        @include grid(3,4,2,2)
    }

    .fo-tx3{
        font-size: 20px;
        bottom: 10px;
        left: 85px;
        @include grid(3,5,2,2)
    }

    .fo-tx4 div{
        white-space: pre-line;
        font-size: 20px;
        bottom: 20px;
        left: 70px;
        @include grid(5,7,2,2)
    }
    .UBI{
        left: 70px;
        bottom: 10px;
        @include grid(5,6,2,2)}
}

.igwh{
    width: 100%;
    height: 100px;
    .tx1{
        color: map-get($colores, color4 );
        width: 20%;
        position: relative;
        @include font(bold);
        font-size: 30px;
        padding: 5px;
        bottom: 439px;
        left: 150px;
    }
    
    div{
        color: map-get($colores, color4 );
        width: 50%;
        height: 80px;
        position: relative;
        @include font(bold);
        font-size: 30px;
        padding: 20px;
        bottom: 380px;
        left: 50px;
    }

    div{
        color: map-get($colores, color4 );
        width: 50%;
        height: 100px;
        gap: 20px;
        @include column-position;
        font-size: 30px;
        padding: 20px;
        @include font(bold);
        bottom: 425px;
        left: 100px;
    }

    .t3{
        color: map-get($colores, color4);
        width: 50%;
        height: 100px;
        gap: 20px;
        @include column-position;
        @include font(bold);
        font-size: 30px;
        padding: 20px;
        bottom: 400px;
        left: 120px;
    }

    .t4{
        color: map-get($colores, color4 );
        width: 20%;
        height: 100px;
        gap: 20px;
        @include column-position;
        @include font(bold);
        font-size: 30px;
        padding: 20px;
        bottom: 415px;
        left: 120px;
        padding-bottom: 100px;
    }
}
main{
    height: 88vh;

    .insano{
        position: relative;
        left: 500px;
        top: 30px;
        height: 550px;
    }
    .tx5{
        position: relative;
        font-size: 30px;
        bottom: 500px;
        right: 300px;
        color: map-get($colores, color3);
        @include font(bold);
        @include main(relative, pre-line, center, none);
        font-size: 50px;
    }
}


.main5{
    .carrousel{
        left: 525px;
        bottom: 1000px;
    }
    article{
        position: relative;
        left: 250px;
        .contacton{
            left: 100px;
        }
        form{
            left: 39px;
        }
        #stock{
        right: 750px;
        width: 70%;
        height: 720px;
    }
    .logo{
        right: 500px;
        font-size: 20px;
        bottom: 225px;
    }
    .catal{
        right: 500px;
        font-size: 20px;
        bottom: 325px;
    }
    .contacton{
        padding: 10px;
        font-size: 15px;
        left: -45px;
        bottom: 425px;
    }
    .div-1{
        right: 500px;
        font-size: 20px;
        bottom: 400px;

    }
    form{
        padding: 10px;
        left: -100px;
        bottom: 550px;
    }

}
}

.principal2{
    #imagen{
        width: 500px;
    }
}
.principal2{
    #imagen{
        width: 590px;
        height: 390px;
        object-fit: cover;
    }
    .tecnico{
        padding-top: 25PX;
        bottom: 300px;
        height: 325px;
        width: 575px;
        left: 450px;
    }
    .section2{
        position: relative;
        right: 100px;
        bottom: 115px;
        font-size: 15px;
        #tec{
            left: 75px;
            top: 225px;
        }
        #tec2{
            font-size: 12px;
            right: -100px;
        }
        #tec3{
            font-size: 12px;
            left: 100px;
        }
        #tec4{
            font-size: 12px;
            right: -100px;
        }
        .contactano2{
            top: 155px;
            right: 200px;
        }
    .con2{
        top: 140px;
        left: -59px;
    }
    }
}
.main{
    width: 100%;
    height: 100px;
    .section5{
        position: relative;
        height: 200px;
        .negro4{
            z-index: 0;
            display: flex;
            background-color: map-get($colores, color3 );
            width: 100%;
            padding: 150px;
            padding-top: px;
            padding-bottom: 315px;
            position: relative;
            bottom: 50px; 
            height: 100px;
        }
        .tete{
            z-index: 5;
            color: map-get($colores, color2 );
            @include main(relative, none, center, none);
            top: 70px;
            left: 225px;
            padding-right: 0px;
            font-size: 48px;
            @include font(bolder);
            text-align: center;
            display: flex;
            width: 50%;
        }
        .fondito5{
            z-index: 4;
            width: 50%;
            @include main(relative, none, none, center);
            display: flex;
            bottom: 450px;
            left: 220px;
        }
        

    }
    .franja{
        z-index: 7;
        width: 28%;
        padding-top: 15px;
        padding-bottom: 1px;
        display: flex;
        position:  relative;
        background-color: map-get($colores, color1 );
        top: 200px;
        height: 25px;
        left: 350px;
        }
        
    .bloque{
        z-index: 4;
        padding: 50px;
        padding-bottom: 250px;
        position: relative;
        display: flex;
        background-color: map-get($colores, color3 );
        width: 40%;
        height: 50px;
        top: 190px;
        left: 290px;
        }
    .etiqueta{
        z-index: 4;
        position: relative;
        left: 300px;
        width: 38%;
        height: 150px;
        top: -25PX;
        }
        height: 800px;
}
.fondo5 {
    width: 100%;
    overflow: hidden;
    height: 829px; 
    overflow-x: hidden;
}
}