@media (max-width:2560px){
    .tx5{
        position: relative;
        right: 250px;
    }

    main{
        width: 100%;
        height: 1000px;
    }

    .insano{
        position: relative;
        right: 100px;
    }

}