@media (max-width:948px){

    .Navegador {
        z-index: 8;
        display: flex;
        font-family: 'Inter', Times, serif;
        font-weight: 250;
        background-color: #020262;
        position: fixed;
        width: 948px;
        height: 100px;
        flex-direction: row;
        gap: 100px;
        justify-content: center;
    }

    .insano{
    position: relative;
    top: 480px;
    left: 180px;

}
.pie{
    .fo-tx4 div{
    white-space: pre-line;
    font-size: 15px;
    bottom: 20px;
    left: 25px;
    line-height: 25px;
    @include grid(5,7,2,2)

}
}
div.dropdown{
    display: none;
}
}