@media (max-width:390px){

    .Navegador {
        z-index: 8;
        display: flex;
        font-family: 'Inter', Times, serif;
        font-weight: 250;
        background-color: #020262;
        position: fixed;
        width: 390px;
        height: 100px;
        flex-direction: row;
        gap: 10px;
        justify-content: center;
    }

    .tx5{
        left: 0px;
    }

    .insano{
        left:25px;
    }

    .Nav{
        position: relative;
        z-index: 1;
        display: grid;
        width: 100%;
        height: 100px;
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr auto;
        grid-template-areas: 
        "header";
        .navi{
            height: 85px;
            width: 390px;
            position: relative;
            z-index: 1;
            display: flex;
            gap: 10px;
            list-style: none;
            background-color: map-get($colores, color1 );
            white-space: pre-line;
            text-align: center;
            justify-content:center;
    
    
    
            a{
                position: relative;
                text-decoration: none;
                color: white;
                font-family: 'Inter', Times, serif;
                font-size: 15px;
                font-weight: 250;
                margin: auto;
                line-height: 20px;
                gap: 40px;
                bottom: 5px;
            }
            .nav-logo{
                top: -10px;
            }
            .nav-a{
                position: relative;
                top: -10px;
            }
            .nav--a{
                position: relative;
                top: 5px;
            }
        }
    
    }
    
    .principal .titulo{
        z-index: 0;
        position: relative;
        left: 5px;
        bottom: 50px;
        font-size: 50px;
        line-height: 75px;
    }
    
    .principal .desarollo1{
        z-index: 0;
        position: relative;
        left: 5px;
        top: 1px;
    }
    
    .principal .desarollo2{
        z-index: 0;
        position: relative;
        left: 5px;
        font-size: 20px;
        line-height: 30px;
    }
    section{
        .titulo3{
        display: flex;
        z-index: 1;
        @include font(bold);
        color: map-get($colores, color4 );
        @include main(relative, pre-line, center, none);
        font-size: 15px;
        left: 255px;
        top: 85px;
        width: 100%;
        font-size: 25px;
    }
    .apple2{
        display: flex ;
        position: relative;
        left: 275px;
        bottom: 100px;
        height: 100px;
        
    }
    .TK{
        position: relative;
        left: 30px;
        bottom: -100px;
    }    
    .WH{
        position: relative;
        left: -125px;
        bottom: 100px;
        height: 75px;
    }    
    .IG{
        position: relative;
        bottom: 250px;
        left: -50px;
        height: 75px;
    }
}

.igwh{
    width: 100%;
    height: 100px;
    .tx1{
        color: map-get($colores, color4 );
        width: 20%;
        position: relative;
        @include font(bold);
        font-size: 15px;
        padding: 5px;
        bottom: 190px;
        left: 50px;
    }
    
    div{
        color: map-get($colores, color4 );
        width: 50%;
        height: 80px;
        position: relative;
        @include font(bold);
        font-size: 30px;
        padding: 20px;
        bottom: 980px;
        left: 50px;
    }

    div{
        color: map-get($colores, color4 );
        width: 50%;
        height: 100px;
        gap: 20px;
        @include column-position;
        font-size: 15px;
        padding: 20px;
        @include font(bold);
        bottom: 240px;
        left: 90px;
    }

    .t3{
        color: map-get($colores, color4);
        width: 50%;
        height: 100px;
        gap: 20px;
        @include column-position;
        @include font(bold);
        font-size: 20px;
        padding: 20px;
        bottom: 180px;
        left: 100px;
    }

    .t4{
        color: map-get($colores, color4 );
        width: 20%;
        height: 100px;
        gap: 20px;
        @include column-position;
        @include font(bold);
        font-size: 20px;
        padding: 20px;
        bottom: 115px;
        left: 120px;
        padding-bottom: 100px;
    }
}
.main5{
    .carrousel{
        left: 39px;
        bottom: 750px;
        width: 280px;
        height: 125px;
    }
    article{
        position: relative;
        left: 250px;
        .contacton{
            left: 100px;
        }
        form{
            left: 39px;
        }
        #stock{
        right: 235px;
        width: 390px;
        height: 259px;
        top: -25px;
    }
    .logo{
        right: 250px;
        font-size: 15px;
        bottom: 280px;
    }
    .catal{
        right: 259px;
        font-size: 10px;
        bottom: 480px;
    }
    .contacton{
        padding: 5px;
        font-size: 10px;
        left: -110px;
        bottom: 650px;
    }
    .div-1{
        right: 255px;
        font-size: 12px;
        bottom: 650px;

    }
    form{
        width: 300px;
        height: 25px;
        left: -150px;
        bottom: 829px;
        font-size: 10px;
    }

}
}
}