@media (max-width:375px){
    .Navegador {
        z-index: 8;
        display: flex;
        font-family: 'Inter', Times, serif;
        font-weight: 250;
        background-color: #020262;
        position: fixed;
        width: 375px;
        height: 100px;
        flex-direction: row;
        gap: 10px;
        justify-content: center;
    }

    .tx5{
        right: 10px;
    }

    .insano{
        left: 10px;
    }

    .fondo{
        width: 375px;
        height: 800px;
        background-size: cover;
    }
    

    .navi{
        z-index: 2;
        gap: 0px;
        justify-content: start;
    }

    .navi a{
        z-index: 2;
        font-size: 10px;
        line-height: 20px;
        font-weight: 400;
        margin-right: 10px;
        margin-left: 10px;
    }

    .principal .titulo{
        z-index: 0;
        left: 10px;
        font-size: 59px;
        line-height: 80px ;
    }

    .principal .desarollo1{
        z-index: 0;
        left: 10px;
    }

    .principal .desarollo2{
        z-index: 0;
        left: 10px;
        font-size: 30px;
}
.Nav{
    position: relative;
    z-index: 1;
    display: grid;
    width: 100%;
    height: 100px;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
    "header";
    .navi{
        height: 85px;
        width: 390px;
        position: relative;
        z-index: 1;
        display: flex;
        gap: 10px;
        list-style: none;
        background-color: map-get($colores, color1 );
        white-space: pre-line;
        text-align: center;
        justify-content:center;



        a{
            position: relative;
            text-decoration: none;
            color: white;
            font-family: 'Inter', Times, serif;
            font-size: 15px;
            font-weight: 250;
            margin: auto;
            line-height: 25px;
            gap: 40px;
            bottom: 10px;
        }
        .nav-a{
            position: relative;
            bottom: 20px;
        }
        .nav--a{
            position: relative;
            top: 5px;
        }
    }

}

.principal .titulo{
    z-index: 0;
    position: relative;
    left: 5px;
    bottom: 50px;
    font-size: 50px;
    line-height: 75px;
}

.principal .desarollo1{
    z-index: 0;
    position: relative;
    left: 5px;
    top: 1px;
}

.principal .desarollo2{
    z-index: 0;
    position: relative;
    left: 5px;
    font-size: 20px;
    line-height: 30px;
}
    .fondo5{
        height: 829px;
    }
    .pie4{
        
        position: absolute;
        bottom: 0;
        width: 425px;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(2,50%) ;
        a{
            width: 100px;
            height: 200PX;
            object-fit: contain;
            @include grid(1,3,2,3);
            bottom: 100px;
        } .perfil
        .fo-tx1{
            font-size: 15PX;
            white-space: nowrap;
            justify-self: none;
            bottom: 15px;
            @include grid(1,4,1,2)
        }
        .mail{
            font-size: 15PX;
            height: 20px;
            position: relative;
            top: 10px;
            @include grid(2,3,2,3)
        }
    
        .fo-tx2{
            left: 28px;
            top: 25px;
            font-size: 10px;
            @include grid(2,3,1,3)
        }
    
        .Web{
            font-size: 15PX;
            left: 82px;
            top: 50px;
            height: 20px;
            @include grid(1,2,1,3)
        }
    
        .fo-tx3{
            font-size: 10px;
            top: 50px;
            left: 130px;
            @include grid(1,2,1,3)
        }
            .fo-tx4{
            white-space: pre-line;
            font-size: 10px;
            bottom: 20px;
            @include grid(1,2,1,3)
        }
        .fo-tx4 div{
            white-space: pre-line;
            font-size: 10px;
            left: 120px;
            top: 140px;
            line-height:15px;
            @include grid(1,2,1,3)
        }
    
        .UBI{
            font-size: 15PX;
            height: 20px;
            left: 145px;
            top: 80px;
            @include grid(1,2,2,3)}
    }
    .principal2{
        #imagen{
            width: 390px;
            height: 390px;
            object-fit: contain;
            right: 50px;
            top: -175px;
        }
        .tecnico{
            padding-top: 25PX;
            bottom: 300px;
            height: 325px;
            width: 450px;
            left: 25px;
        }
        .section2{
            position: relative;
            right: 150px;
            bottom: 115px;
            font-size: 15px;
            #tec{
                font-size: 12px;
                left: -175px;
                top: 225px;
                white-space: pre-line; 
            }
            #tec2{
                font-size: 9px;
                right: 275px;
                top: 200px;
                white-space: pre-line; 
            }
            #tec3{
                font-size: 9px;
                left: -275px;
                top: 150px;
            }
            #tec4{
                font-size: 9px;
                right: 250px;
                top: 125px;
            }
            .contactano2{
                font-size: 9px;
                top: 225px;
                right: 300px;
            }
        .con2{
            width: 50px;
            height: 50px;
            top: 225px;
            left: -175px;
        }
        }
    }
    .main{
        width: 100%;
        height: 100px;
        .section5{
            position: relative;
            height: 200px;
            .negro4{
                z-index: 0;
                display: flex;
                background-color: map-get($colores, color3 );
                width: 100%;
                padding: 150px;
                padding-top: px;
                padding-bottom: 315px;
                position: relative;
                bottom: 100px; 
                height: 80px;
            }
            .tete{
                z-index: 5;
                color: map-get($colores, color2 );
                @include main(relative, none, center, none);
                top: 20px;
                left: 50px;
                padding-right: 0px;
                font-size: 28px;
                @include font(bolder);
                text-align: center;
                display: flex;
                width: 75%;
            }
            .fondito5{
                z-index: 4;
                width: 350px;
                @include main(relative, none, none, center);
                display: flex;
                bottom: 500px;
                left: 10px;
            }
            
    
        }
        .franja{
            z-index: 7;
            width: 38%;
            padding-top: 15px;
            padding-bottom: 1px;
            display: flex;
            position:  relative;
            background-color: map-get($colores, color1 );
            top: 25px;
            height: 25px;
            left: 115px;
            }
            
        .bloque{
            z-index: 4;
            padding: 50px;
            padding-bottom: 250px;
            position: relative;
            display: flex;
            background-color: map-get($colores, color3 );
            width: 85%;
            height: 25px;
            top: 10px;
            left: 25px;
            }
        .etiqueta{
            z-index: 4;
            position: relative;
            left: 39px;
            width: 299px;
            height: 179px;
            top: -225PX;
            }
            height: 800px;
    }
    .fondo5 {
        width: 100%;
        overflow: hidden;
        height: 829px; 
        overflow-x: hidden;
    }
}
